
/*Button Modules*/
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid #333333;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 0.95em;
  font-weight: bold;
  border-radius: 4px;

  transition: all 0.3s ease 0s;
}

.btn-primary {
  background: #8dc63f;
  border-color: #8dc63f;
  color: white;
}

/* .btn-primary:hover {
  background: none;
  border-color: white;
  text-decoration: none;
} */



@media (min-width: 48em) {
  .btn-primary {
    /* background: #4cc63f; */
    border-color: #4cc63f;
    color: white;
    height: 30px;
    font-family: "Arial Regular";
    font-size: 0.95em;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 7px 5px;
  }
  .btn-secondary {
    background: #a8ce72;
    border-color: #a8ce72;
    color: white;
    height: 30px;
    font-family: "Arial Regular";
    font-size: 0.95em;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0 5px;
  }
  /* .btn-primary:hover {
    border: 1px solid #8dc63f;
    background: #8dc63f;
  } */
}
/*Form Modules*/
input[type=text] {
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.error{
  color:red;
}